.container {
  width: 90%;
  margin: 5rem auto 0;
  text-align: center;
}

.card_container {
  display: grid;
  justify-content: center;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, 310px);
  margin-top: 3rem;
}

.flip_card_container {
  --hue: 60;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 100%;
  height: 500px;

  perspective: 1000px;
}

.flip_card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: 1s 0.5s;
}

.flip_card_container:hover .flip_card,
.flip_card_container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card_front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card_back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

figure {
  z-index: -1;
}

figure,
.img_bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.img {
  height: 100%;
  border-radius: 24px;
  width: 100%;
}

figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.img_bg {
  background: hsla(var(--hue), 25%, 10%, 0.5);
}

.card_front .img_bg {
  clip-path: polygon(0 50%, 100% 70%, 100% 100%, 0 100%);
}
.card_front .img_bg::before {
  content: "";

  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: 0.5s;
}
.flip_card_container:hover .card_front .img_bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

.description {
  padding: 0.5em;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 15px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: 0.3s;
  margin: 0.5rem;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, 0.2);
  border-color: currentColor;
}

.button:active {
  transform: translate(2px);
}
