.FooterComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.social {
  align-items: flex-end;
}

.social a,
.links a {
  color: inherit;
  margin: 0.125rem;
}

.social a :hover,
.links a :hover {
  opacity: 0.8;
}

.social a :not(:first-of-type),
.links a :not(:first-of-type) {
  margin-left: 20px;
}
